
.container {
    position: relative;
    min-height: 100vh;
    /* height: 100vh; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* background: rgba(0, 0, 0, 0.5); */
    background: url("../assets/HomeBG.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: black; */
    /* background: rgba(255, 255, 255, 0.7); */
    padding: 50px 0; 
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  header h1 a {
    text-decoration: none;
    color: black; /* Adjust the color as needed */
    font-size: 45px;
    
  }
  
  header nav {
    display: flex;
    justify-content: center; /* Center the navigation links horizontally */
    background: white;
    border-radius: 15px;
  }
  
  header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 20px;
    margin: 0 10px; 
  }
  
  header nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black; /* Adjust the color as needed */
  }
  
  .content {
    /* Add styles for your main content if needed */
  }

  .dr {
    font-size: 60px;
    color: white;
  }
  